/* estilo.css */

/* Estilos para o fundo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-position: center;
    background-size: 25%;
}
.mensagem{
    display:none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formulario-imc {
    background-color: lightblue; 
    border: 2px solid lightskyblue; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 200px; 
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
}
